.afterheader_parent{
    width: 100%;
    height: 70px;
    background-color: black;
    padding: calc(var(--unit)/2);
    position: sticky;
    top: 0;
    z-index: 99;

    .afterheader_cont{
        max-width: 1800px;
        height: 100%;
        margin: auto;
        padding: 0px 10px;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--unit);

        .drop_down{
            height: 100%;
            width: 300px;
            background-color: rgba(84, 84, 84, 0.534);
            border-radius: calc(var(--unit)/3);
           
            .drop_down_input{
                width: 100%;
                height: 100%;
                gap: var(--unit);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: var(--unit);
                cursor: pointer;
                color: white;

                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                }
            }
        }

        .sear_input{
            height: 100%;
            width: 50%;
            position: relative;

            input{
                width: 100%;
                height: 100%;
                border-radius: calc(var(--unit)/3);
                outline: none;
                border: none;
                padding: calc(var(--unit)/2);
                
            }

    
            .icon{
                position: absolute;
                top: 50%;
                right: 3%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;

                svg{
                    font-size: 24px;
                }
            }

            .list{
                position: absolute;
                height: 400px;
                width: 100%;
                top: 105%;
                left: 0;
                background-color: white;
                border-radius: 10px;
                overflow-y: auto;
                padding: 10px;

                .item{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: stretch;

                    img{
                        height: 100%;
                        width: 20%;
                    }

                    .right_section{
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: calc(var(--unit)/2);
                        padding: 10px;

                        h2{
                            font-size: calc(var(--unit)*2);
                            text-transform: capitalize;
                            line-height: 100%;
                        }
                        h5{
                            color: grey;
                            font-size: calc(var(--unit));
                        }
                    }


                }
            }
        }
    }
}


@media only screen and (max-width:850px) {
    .afterheader_parent{
     .afterheader_cont{
        .drop_info{
            display: none;
        }

     }   
    }
}

@media only screen and (max-width:500px) {
    .afterheader_parent{
        height: auto;
        .afterheader_cont{
          flex-direction: column;

          .drop_down{
            width: 100%;
            height: 50px;
          }

          .sear_input{
            width: 100%;
            height: 50px;

          }
   
        }   
       }
}